*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100vh;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.contenedor{
    width: 320px;
    height: 440px;
    background-color: rgb(224, 116, 116);
    color: white;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 50px 30px ;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.contenedor img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -120px;
    left: 110px;
    border-radius: 50%;
    
}


.contenedor h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
    
}

.contenedor label {
    font-weight: bold;
    display: block;
}

.contenedor input {
    width: 100%;
    margin-bottom: 20px;
}

.contenedor input[type="text"], .contenedor input[type="password"], .contenedor input[type="password2"]{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    
    



}

.contenedor input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.1em;
    background-color: aqua;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contenedor input[type="button"]:hover{

    background-color: white;
    color: red;
    cursor: pointer;
}

.contenedor a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 0.8em;
    line-height: 20px;
}

.contenedor #mensaje{
    border: none;
    font-size: .6em;
    font-weight: lighter;
}

.contenedor .blanco {
    color: white;
}

.contenedor .rojo {
    color: red;
}

.contenedor .verde {
    color: green;
    font-size: 0.8em !important;
}